<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transaction, starting with the ICO -->

<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->

<ol>
  <% for transaction in Transaction.all %>
    <li>
      <% if transaction.from_user %>
        <%= transaction.amount %> from <%= transaction.from_user.name %> to <%= transaction.to_user.name %>
      <% else %>
        Initial coin offering: <%= transaction.amount %> to <%= transaction.to_user.name %>
      <% end %>
    </li>
  <% end %>
</ol>

<ul>
  <% for user in User.all %>
    <% 
      balance = 0
      balance = balance + Transaction.where({ to_user_id: user.id }).sum(:amount)
      balance = balance - Transaction.where({ from_user_id: user.id }).sum(:amount)
    %>
    <li>Balance for <%= user.name %>: <%= balance %> KC</li>
  <% end %>
</ul>